<ul class="social-icons span-4 column last">
    <li class="twitter"><a href="http://twitter.com/Name_Frame" title="">Twitter</a></li>
    <li class="facebook"><a href="http://www.facebook.com/profile.php?id=790357291" title="">Facebook</a></li>
    <li class="digg"><a href="http://digg.com/submit?url=http%3A//nameframe.com&amp;title=Helping%20You%20Frame%20Your%20Love" title="">Digg</a></li>
  </ul>
<div class="span-4" style="margin-top:-65px;margin-bottom:5px;float: right;width:230px;height:85px;" >
  <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=25818030b56b903af26de0667c27acf21ac90eab&style=0" /></object>