<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="about_us span-27 last column outer-block align block-text">
  <h5>About Us</h5>
  <div class="inner-block about">
      <p>N<strong>ameFrame.com</strong> is a new division of <em>VanTuil Photo &amp; Imaging Center</em>. With two locations in Erie and Meadville, <abbr title="Pennsylvania">PA.</abbr>, the VanTuils tested their personalized matting concept in their two stores before offering it nationwide.</p><br />
      <p></p>
      <img src="images/about-img-1.jpg" width="270" height="181" alt="Staff" class="floatleft" />
      <p>With overwhelming popularity and customer satisfaction, the NameFrame provides you, the buyer, an opportunity to give a timeless, personalized gift that you have a hand in creating.</p><br />
      <p>VanTuil is no stranger to the photography and framing industry.  His father founded their first camera store in 1957 and throughout his childhood, Kurt could be found in the shop, learning his trade from the ground up.  VanTuil Photo was one of the first camera stores in the nation to enter the mini lab market, bringing the convenience of film processing out of the distant labs and into the store.</p><br />
      <p></p>
      <img src="images/about-img-2.jpg" width="270" height="180" alt="NAMEFRAME HOME" class="floatleft" />
      <p>With the advent of digital photography, VanTuil again expanded its available services by adding a custom framing component, allowing patrons to create personalized works of art from their own photography.</p><br />
      <p>With more than <em>50 years</em> of serving the western Pennsylvania community, the VanTuils are excited about helping people around the United States celebrate the joys of a birth or special birthday through the creation of a customized keepsake that will be cherished for generations.</p>
      <p></p>
  </div>
</div>

