<div class="span-22 last column outer-block align block-text">
  <h5>Contact</h5>
  <div class="inner-block manifest">
    <p class="contact-text">
    <%= render :partial => "/shared/contact_us.html.erb" %>
    </p>
  </div>
</div>

