<div class="span-22 last column outer-block align block-text">
  <h5>Contact</h5>
  <div class="inner-block manifest">
      <div  style="float: left;">
          <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=25818030b56b903af26de0667c27acf21ac90eab&style=0" /></object>
         <p style="padding-bottom:15px;"> We will make every effort to take your call personally at any time. However, live help will always be available M-F 8 AM to 6 PM EST.
             </p>
    </div>
    <p class="contact-text">
    <%= render :partial => "/shared/contact_us.html.erb" %>
    </p>
  </div>
</div>

