<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="span-30 last column outer-block align block-text">
  <h5 class="title_gray">Terms of Service</h5>
  <div class="inner-block manifest first">
    <p class= "question first">1.- Limitations</p>
    <p>
    All materials shown on this site are reproduced as accurately as possible.&nbsp;However, due to limitations beyond our control, colors depicted on the site are approximate in nature.&nbsp;While every effort will be made to produce the product exactly as it was designed, slight variations may occur.</p>

    <p class= "question">2.- Returns</p>
    <p>
    Due to the customized nature of this product, returns are not accepted. However, any mistakes or damage that may have occurred to the product, in manufacturing or shipping, will be corrected.</p>

    <p class= "question">3.- Refunds</p>
    <p>
    Refunds or replacement will be made for incorrect or damaged product at the discretion of the company.</p>

    <p class= "question">4.- Cancellations</p>
    <p>
    Cancellations will be accepted only if they are received prior to the start of production. To cancel an order, please call <%= Settings.telephone_free %>.</p>

    <p class= "question">5.- Shipping/Delivery</p>
    <p>
     Shipments will be made to addresses in the United States and Canada. Most orders will be shipped within 48 hours of being placed. Shipments will be made by United Parcel Service. Ground shipments should arrive in 3-5 business days after shipment.</p>

    <p class= "question">6.- Content</p>
    <p>
    NameFrame.com reserves the right cancel any orders that contains material that it deems to be obscene, offensive, blasphemous, pornographic, unlawful, threatening, menacing, abusive, harmful, an invasion of privacy or publicity rights, defamatory, libelous, vulgar, illegal or otherwise objectionable. In addition any material that is deemed to be harmful to minors in any way, including, but not limited to, content that violates child pornography laws, child sexual exploitation laws and laws prohibiting the depiction of minors engaged in sexual conduct will not be produced.</p>

  </div>
</div>

